/*color vars*/
:root {
  --light-color: #b5c1b4;
  --lightest-color: #dcd9c6;
  --dark-color: #1b1924;
  --darkgreen-color: #52591f;
  --purple-color: #614D61;
  --brown-color: #74593d;
}


/*page styling*/
.page{
  background-image: url("../images/textures/cream_dust_transparent_90.png");
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  color: var(--dark-color);
}
h1,h2,h3 {
  color: var(--purple-color);
}
.container{
  max-width: 100%;
  min-height: calc(100vh - 100px); /*viewport height - footer height - footer margin - footer border... put viewport in html links!*/
}
footer{
  height: 50px;
  line-height: 50px;
  margin-top: 40px;
  padding: 0;
  font-size: small;
  text-align: center;
  color: var(--dark-color);
}
.jumbotron{
  margin: 20px auto;
  text-align: center;
  padding: 15px;
}
.jumbotron h1 {
  color: var(--brown-color);
  font-size: 38px;
}
.jumbotron p {
  font-weight: normal;
}
p{
  font-size: 18px;
}
.main-content .panel {
  background: #eee;
}
.main-content .page-header {
  margin: 0; /*remove default top*/
  text-shadow: 1px 1px 1px var(--white-color);
}
.start-button{
  color: var(--brown-color);
  font-size: larger;
}
.start-button:hover{
  color: var(--dark-color);
  background: var(--light-color);
}


/* content sections*/
.question-section{
  text-align:center;
  margin: 30px;
}
.question-text{
  font-size: 28px;
  padding: 20px;
  color: var(--darkgreen-color);
  font-weight: normal;
}
.result-section{
  text-align: center;
}
.result-text{
  color: var(--purple-color);
}
.answer{
  color: purple;
  font-size: 24px;
}
.choice-item{
  margin: 12px auto;
  display: block;
  width: 40%;
  background: var(--lightest-color);
  color: var(--darkgreen-color);
  font-size: 18px;
  white-space: normal; ; /*wrap lines if button text too big (not default in button)*/
}
.choice-item:hover{
  background: var(--darkgreen-color);
  color: var(--lightest-color);
}
